*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    padding: 50px;
    background-color: rgb(125, 176, 144);
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

img{
    width: 100%;

}

.flex-container{
  display: flex;
  background-color: rgb(125, 176, 144);
  padding: 10px;
}

.flex-container div{
    width: 100px;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    padding: 10px;
}

footer p{
    text-align: center;
    color: white;
}

 a{
    text-decoration: none;
    color: black;
}
 h2{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 @media screen and (max-width: 580px) {
    h1{
        font-size: 3px;
    }

    h2{
        font-size: 1.3rem;
    }



 }


@media screen and (max-width: 480px) {
    h1{
        font-size: 2px;
    }

    h2{
        font-size: 1px;
    }
}
